#!/usr/bin/make -f
DEB_AUTO_CLEANUP_RCS := yes

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk

common-binary-post-install-arch:: list-missing

DEB_CONFIGURE_EXTRA_FLAGS := --enable-bluetooth --enable-dundee --with-systemdunitdir=/lib/systemd/system

DEB_DH_STRIP_ARGS_ALL := --dbgsym-migration='ofono-dbg (<< 1.18-1~)'

include $(CURDIR)/debian/update-patches.mk


install/ofono::
	dh_installinit -pofono --name=dundee
	install -D -m 0644 plugins/ofono.rules debian/tmp/lib/udev/rules.d/97-ofono.rules
	install -D -m 0644 plugins/ofono-speedup.rules debian/tmp/lib/udev/rules.d/97-ofono-speedup.rules
